# Kaggle Setup

In [2]:
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.6.6.tar.gz (84 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 84.6/84.6 kB 1.7 MB/s eta 0:00:00a 0:00:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: six>=1.10 in /Users/michael/anaconda3/envs/ta-lib/lib/python3.9/site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /Users/michael/anaconda3/envs/ta-lib/lib/python3.9/site-packages (from kaggle) (2022.12.7)
Requirement already satisfied: python-dateutil in /Users/michael/anaconda3/envs/ta-lib/lib/python3.9/site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /Users/michael/anaconda3/envs/ta-lib/lib/python3.9/site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in /Users/michael/anaconda3/envs/ta-lib/lib/python3.9/site-packages (from kaggle) (4.64.1)
Collecting python-slugify
  Downloading python_slugify-8.0.4-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: urllib3 in /Users/michael/anaconda3/envs/ta-lib/lib/python3.9/site-packages (from kaggle) (1.26.15)
Requirement already satisfied: bleach in /Users/michael/anaconda3/envs/ta-lib/lib/python3.9/site-packages (from kaggle) (6.0.0)
Requirement already satisfied: webencodings in /Users/michael/anaconda3/envs/ta-lib/lib/python3.9/site-packages (from bleach->kaggle) (0.5.1)
Collecting text-unidecode>=1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.2/78.2 kB 1.6 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/michael/anaconda3/envs/ta-lib/lib/python3.9/site-packages (from requests->kaggle) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/michael/anaconda3/envs/ta-lib/lib/python3.9/site-packages (from requests->kaggle) (2.10)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.6.6-py3-none-any.whl size=111945 sha256=e39eb45139416b43f100fbcc7ccccb5254f6c8afbc06784a681bc802724fcc6f
  Stored in directory: /Users/michael/Library/Caches/pip/wheels/46/aa/c3/b3e421522fb5acdd7c366a05c5fc80787615bdeed207e7f79b
Successfully built kaggle
Installing collected packages: text-unidecode, python-slugify, kaggle
Successfully installed kaggle-1.6.6 python-slugify-8.0.4 text-unidecode-1.3

In [5]:
# Load Kaggle API credentials from ~/.kaggle/kaggle.json
import os
import json

# Ensure you replace '/Users/michael/.kaggle/kaggle.json' with your actual path if different
with open('/Users/michael/.kaggle/kaggle.json') as f:
    kaggle_credentials = json.load(f)

os.environ['KAGGLE_USERNAME'] = kaggle_credentials['username']
os.environ['KAGGLE_KEY'] = kaggle_credentials['key']

In [32]:
!kaggle competitions list --csv > Datasets/competitions.csv

# Now, read the CSV file into a pandas DataFrame
import pandas as pd

competitions_df = pd.read_csv('Datasets/competitions.csv')

In [33]:
competitions_df

,,,,Warning: Looks like you're using an outdated API Version,please consider updating (server 1.6.7 / client 1.6.6)
ref,deadline,category,reward,teamCount,userHasEntered
https://www.kaggle.com/competitions/llm-prompt-recovery,2024-04-16 23:59:00,Featured,"$200,000",167,False
https://www.kaggle.com/competitions/pii-detection-removal-from-educational-data,2024-04-23 23:59:00,Featured,"$60,000",1238,False
https://www.kaggle.com/competitions/hms-harmful-brain-activity-classification,2024-04-08 23:59:00,Research,"$50,000",1984,False
https://www.kaggle.com/competitions/march-machine-learning-mania-2024,2024-04-10 23:59:00,Featured,"$50,000",24,False
https://www.kaggle.com/competitions/data-assistants-with-gemma,2024-04-14 23:59:00,Analytics,"$50,000",0,False
https://www.kaggle.com/competitions/playground-series-s4e2,2024-02-29 23:59:00,Playground,Swag,3557,False
https://www.kaggle.com/competitions/planttraits2024,2024-06-15 22:00:00,Research,Knowledge,113,False
https://www.kaggle.com/competitions/titanic,2030-01-01 00:00:00,Getting Started,Knowledge,15479,False
https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques,2030-01-01 00:00:00,Getting Started,Knowledge,4001,False
https://www.kaggle.com/competitions/spaceship-titanic,2030-01-01 00:00:00,Getting Started,Knowledge,2623,False
https://www.kaggle.com/competitions/digit-recognizer,2030-01-01 00:00:00,Getting Started,Knowledge,1599,False
https://www.kaggle.com/competitions/nlp-getting-started,2030-01-01 00:00:00,Getting Started,Knowledge,867,False
https://www.kaggle.com/competitions/connectx,2030-01-01 00:00:00,Getting Started,Knowledge,213,False
https://www.kaggle.com/competitions/tpu-getting-started,2030-06-03 23:59:00,Getting Started,Knowledge,58,False
https://www.kaggle.com/competitions/store-sales-time-series-forecasting,2030-06-30 23:59:00,Getting Started,Knowledge,682,False
https://www.kaggle.com/competitions/gan-getting-started,2030-07-01 23:59:00,Getting Started,Knowledge,77,False
https://www.kaggle.com/competitions/contradictory-my-dear-watson,2030-07-01 23:59:00,Getting Started,Knowledge,46,False
https://www.kaggle.com/competitions/home-credit-credit-risk-model-stability,2024-05-06 23:59:00,Featured,"$105,000",1186,False
https://www.kaggle.com/competitions/optiver-trading-at-the-close,2024-03-20 23:59:00,Featured,"$100,000",4436,True
https://www.kaggle.com/competitions/predict-energy-behavior-of-prosumers,2024-04-30 23:59:00,Featured,"$50,000",2731,False

# How to get aa dataset?

In [13]:
# Step 1: Download the dataset
!kaggle datasets download -d syedanwarafridi/vehicle-sales-data -p Datasets/

# Step 2: Unzip the dataset
!unzip -o Datasets/vehicle-sales-data.zip -d Datasets/

Downloading vehicle-sales-data.zip to Datasets
100%|██████████████████████████████████████| 18.8M/18.8M [00:05<00:00, 3.59MB/s]
100%|██████████████████████████████████████| 18.8M/18.8M [00:05<00:00, 3.57MB/s]
Archive:  Datasets/vehicle-sales-data.zip
  inflating: Datasets/car_prices.csv

In [3]:
import pandas as pd

df = pd.read_csv('Datasets/car_prices.csv')

df

# Convert 'saledate' to datetime format, ignoring errors
df['saledate'] = pd.to_datetime(df['saledate'], errors='coerce')

# Filter out rows where 'saledate' is NaT (not a time) to avoid the TypeError
valid_dates_df = df.dropna(subset=['saledate'])

In [4]:
df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2010,Chevrolet,Aveo,Aveo5 LS,Hatchback,automatic,kl1td6de6ab096305,mi,32.0,53040.0,gray,black,pinellas fcu,5450,5500,2015-05-27 17:00:00+07:00
1,2011,Chevrolet,Express,LS 3500,Van,automatic,1gazg1fg1b1143512,mi,24.0,52456.0,white,gray,lakeside car rental/l & s car rental,14900,14100,2015-05-27 17:00:00+07:00
2,2010,Nissan,Rogue,S,SUV,automatic,jn8as5mt0aw507452,mi,22.0,99943.0,silver,gray,first investors financial services,7800,5500,2015-05-27 17:00:00+07:00
3,2013,Ford,Explorer,XLT,SUV,automatic,1fm5k8d84dgb48580,mi,28.0,87690.0,black,gray,corporate fleet services,16650,16600,2015-05-27 17:00:00+07:00
4,2011,Dodge,Charger,Base,Sedan,NaN,2b3cl3cg3bh581833,mi,34.0,43133.0,white,beige,community choice credit union,14950,12800,2015-05-27 17:00:00+07:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558794,2012,BMW,X3,xDrive28i,SUV,NaN,5uxwx5c52cl727121,pa,47.0,41817.0,blue,brown,oceanside auto center inc,26500,29000,2015-04-03 02:00:00+07:00
558795,2013,Chevrolet,Silverado 1500,Work Truck,Regular Cab,automatic,1gcncpex4dz114936,pa,45.0,32715.0,white,gray,peter stallone auto sales inc,15200,11200,2015-04-03 02:00:00+07:00
558796,2012,Honda,Odyssey,Touring Elite,Minivan,automatic,5fnrl5h93cb044630,pa,29.0,35273.0,gray,gray,ingersoll auto of danbury,27100,13600,2015-04-03 02:00:00+07:00
558797,2008,BMW,3 Series,328xi,Sedan,NaN,wbavc73518kx91164,pa,42.0,99594.0,blue,tan,adcock brothers inc,9350,14300,2015-04-03 02:00:00+07:00
558798,2013,Mercedes-Benz,C-Class,C300 Sport 4MATIC,Sedan,NaN,wddgf8ab2dr272701,pa,28.0,10730.0,gray,black,mercedes-benz financial services,26400,19200,2015-04-03 01:29:00+07:00

# Real life problem solving to get time range

In [18]:
# let's look at date range

# first we need datetimee object
df['saledate'] = pd.to_datetime(df['saledate'])

ParserError: year 16500 is out of range: 16500 present at position 2896

In [21]:
# Attempt to parse dates ignoring the timezone information
df['saledate'] = pd.to_datetime(df['saledate'], errors='coerce', format='%a %b %d %Y %H:%M:%S')

# Check the conversion, if there are 'NaT' values, those were failed conversions
print(df['saledate'].isnull().sum())

# Now find the date range
earliest_date = df['saledate'].min()
latest_date = df['saledate'].max()

print(f"Earliest sale date: {earliest_date}")
print(f"Latest sale date: {latest_date}")

558837
Earliest sale date: NaT
Latest sale date: NaT

In [22]:
# Remove timezone information from the 'saledate' strings
df['saledate'] = df['saledate'].str.replace(r'GMT-\d{4} \([A-Z]{3}\)', '', regex=True)

# Now try converting to datetime without specifying a format
df['saledate'] = pd.to_datetime(df['saledate'], errors='coerce')

# Check the conversion again
earliest_date = df['saledate'].min()
latest_date = df['saledate'].max()

print(f"Earliest sale date: {earliest_date}")
print(f"Latest sale date: {latest_date}")

AttributeError: Can only use .str accessor with string values!

# Get time range

In [5]:
# Now, find the earliest and latest date in the 'saledate' column of the filtered DataFrame
earliest_date_valid = valid_dates_df['saledate'].min()
latest_date_valid = valid_dates_df['saledate'].max()

earliest_date_valid, latest_date_valid

(datetime.datetime(2014, 1, 1, 9, 15, tzinfo=tzoffset('PST', 28800)),
 datetime.datetime(2015, 7, 21, 2, 30, tzinfo=tzoffset('PDT', 25200)))

In [8]:
# Assuming valid_dates_df['saledate'] contains datetime objects
earliest_date_valid = valid_dates_df['saledate'].min().strftime('%m-%d-%Y')
latest_date_valid = valid_dates_df['saledate'].max().strftime('%m-%d-%Y')

print(earliest_date_valid)
print(latest_date_valid)

01-01-2014
07-21-2015

# Lesson - using pd.datetime --> if you are trying to get a datetime object

In [16]:
df['saledate'] = pd.to_datetime(df['saledate'], format='%Y-%m-%d %H:%M:%S%z', utc=True)

In [18]:
df['saledate'] = pd.to_datetime(df['saledate'], format='%Y-%m-%d %H:%M:%S%z').dt.tz_localize(None)

In [19]:
df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2010,Chevrolet,Aveo,Aveo5 LS,Hatchback,automatic,kl1td6de6ab096305,mi,32.0,53040.0,gray,black,pinellas fcu,5450,5500,2015-05-27 10:00:00
1,2011,Chevrolet,Express,LS 3500,Van,automatic,1gazg1fg1b1143512,mi,24.0,52456.0,white,gray,lakeside car rental/l & s car rental,14900,14100,2015-05-27 10:00:00
2,2010,Nissan,Rogue,S,SUV,automatic,jn8as5mt0aw507452,mi,22.0,99943.0,silver,gray,first investors financial services,7800,5500,2015-05-27 10:00:00
3,2013,Ford,Explorer,XLT,SUV,automatic,1fm5k8d84dgb48580,mi,28.0,87690.0,black,gray,corporate fleet services,16650,16600,2015-05-27 10:00:00
4,2011,Dodge,Charger,Base,Sedan,NaN,2b3cl3cg3bh581833,mi,34.0,43133.0,white,beige,community choice credit union,14950,12800,2015-05-27 10:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558794,2012,BMW,X3,xDrive28i,SUV,NaN,5uxwx5c52cl727121,pa,47.0,41817.0,blue,brown,oceanside auto center inc,26500,29000,2015-04-02 19:00:00
558795,2013,Chevrolet,Silverado 1500,Work Truck,Regular Cab,automatic,1gcncpex4dz114936,pa,45.0,32715.0,white,gray,peter stallone auto sales inc,15200,11200,2015-04-02 19:00:00
558796,2012,Honda,Odyssey,Touring Elite,Minivan,automatic,5fnrl5h93cb044630,pa,29.0,35273.0,gray,gray,ingersoll auto of danbury,27100,13600,2015-04-02 19:00:00
558797,2008,BMW,3 Series,328xi,Sedan,NaN,wbavc73518kx91164,pa,42.0,99594.0,blue,tan,adcock brothers inc,9350,14300,2015-04-02 19:00:00
558798,2013,Mercedes-Benz,C-Class,C300 Sport 4MATIC,Sedan,NaN,wddgf8ab2dr272701,pa,28.0,10730.0,gray,black,mercedes-benz financial services,26400,19200,2015-04-02 18:29:00